ul {
    margin: 0px;
    padding: 0px;
}.icons-wrapper{
    position: relative;
    text-decoration: none;
}.icons-wrapper{
    content: '';
    position: absolute;
    width: 90%;
    height: 5px;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;   
    text-decoration: none;
}.icon{
    display: inline-block; 
    font-size: 64px;    
    text-decoration: none;
}.ri-instagram-line{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;  
}.ri-whatsapp-line{
    color: #25d366;
    text-decoration: none;
}.footer-section {
        background: #151414;
        position: relative;
}.footer-cta {
        border-bottom: 1px solid #373636;
}.single-cta i {
        color: #ff5e14;
        font-size: 30px;
        float: left;
        margin-top: 8px;
}.cta-text {
        padding-left: 15px;
        display: inline-block;
}.cta-text h4 {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 2px;
}.cta-text span {
        color: #757575;
        font-size: 15px;
}.footer-content {
        position: relative;
        z-index: 2;
}.footer-pattern img {
        position: absolute;
        top: 0;
        left: 0;
        height: 330px;
        background-size: cover;
        background-position: 100% 100%;
}.footer-logo {
        margin-bottom: 30px;
}.footer-logo img {
        max-width: 200px;
}.footer-text p {
        margin-bottom: 14px;
        font-size: 14px;
        color: #7e7e7e;
        line-height: 28px;
}.facebook-bg{
        background: #3B5998;
}.twitter-bg{
        background: #55ACEE;
}.google-bg{
        background: #DD4B39;
}.footer-widget-heading h3 {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 40px;
        position: relative;
}.footer-widget-heading h3::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -15px;
        height: 2px;
        width: 50px;
        background: #ff5e14;
}.footer-widget ul li {
        display: inline-block;
        float: left;
        width: 50%;
        margin-bottom: 12px;
}.footer-widget ul li a:hover{
        color: #ff5e14;
}.footer-widget ul li a {
        color: #878787;
        text-transform: capitalize;
}.subscribe-form {
        position: relative;
        overflow: hidden;
}.subscribe-form input {
        width: 100%;
        padding: 14px 28px;
        background: #2E2E2E;
        border: 1px solid #2E2E2E;
        color: #fff;
}.subscribe-form button {
        position: absolute;
        right: 0;
        background: #ff5e14;
        padding: 13px 20px;
        border: 1px solid #ff5e14;
        top: 0;
}.subscribe-form button i {
        color: #fff;
        font-size: 22px;
        transform: rotate(-6deg);
}.copyright-area{
        background: #202020;
        padding: 25px 0;
}.copyright-text p {
        margin: 0;
        font-size: 14px;
        color: #878787;
}.copyright-text p a{
        color: #ff5e14;
}.footer-menu li {
        display: inline-block;
        margin-left: 20px;
}.footer-menu li:hover a{
        color: #ff5e14;
}.footer-menu li a {
        font-size: 14px;
        color: #878787;
}

.tra h3 {
            color:#38AAF2;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 40px;
            position: relative;
            text-decoration: underline ;
            text-decoration-color: #38AAF2;
            text-underline-offset: 20px;

    }.tra h3::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: -15px;
            height: 2px;
            width: 100px;
            
    }